@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-primary-light: #38bdf8;
  --color-primary-dark: #0284c7;
}

@theme {
  --font-sans: "Noto Sans JP", sans-serif;
}

@theme {
  --spacing-128: 32rem;
  --width-content: 960px;
}

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}
